 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#1877c0,#1b4815);
    padding: 10px ;
}
.todoapp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todoapp h2{
    color:#5a082e;
    display:flex ;
    align-items: center;
    margin-bottom: 20px;

}
.todoapp h2 img{
    width: 35px;
    margin-left:10px ;
}
.row{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: #afb2ad;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding:10px ;
}
button{
    border:none;
    outline:none;
    padding:16px 50px ;
    background:#ba4c4c ;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../image/circle.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(../image/check.png);
}
ul  li  span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
ul li span:hover{
    background:#edeef0 ;
}